:root {
  /* --white: hsl(0, 100%, 100%); */
  --white: whitesmoke;
  --listColor: palevioletred;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
  flex-grow: 1;
  position: relative;
}

.search-field {
  padding: 10px;
  font-size: 16px;
}

.search-btn {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search-results-container {
  width: 92%;
  max-width: 500px;
  position: absolute;
  top: 80%; /* Position the top of the container just below the search bar */
  z-index: 10;
  background-color: var(--white);
  border-radius: 10px;
}

.search-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.search-result-item {
  padding: 7px 4px;
  border-bottom: 1px solid lightgray;
  text-transform: capitalize;
}

.search-result-item h3 {
  font-size: medium;
  font-family: inherit;
}

@media screen and (max-width: 600px) {
  .header-search-container {
    flex-direction: column;
  }

  .search-field {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .search-results-container {
    width: 100%; /* You can adjust this value as per your requirements */
    max-width: 850px; /* You can adjust this value as per your requirements */
  }
}
